{
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
}
/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body{
	font-family: "Titillium", sans-serif;
	padding: 0 200px;
	margin-top: 0px;
}

/* Header Styles */
nav {
	/* text-align: center; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* margin: 0 2%; */
	position: sticky;
	/* top: 0; */
	background-color: gray;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

nav a {
	text-decoration: none;
	color: lightgray;
	margin: 0 5%;
}

nav a:hover {
	color: black;
}

header {
	text-align: center; 
	margin: 5% 0%;
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
}

h1 {
	font-family: "Bangers", sans-serif;
	font-size: 72px;
	letter-spacing: 2.8px;
	display: flex;
	flex-direction: column;
}

button {
	/* display: block; */
	background-color: transparent;
	border: 1px solid black;
	margin: 7% auto; 
	width: 150px;
	height: 33px;
	font-size: 16px;
	letter-spacing: 1px;
	/* box-shadow: 0 9px lightgray; */
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button:hover {
	/* background-color: lightblue; */
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
}

button:active {
	/* box-shadow: 0 5px gray; */
	box-shadow: 0 14px 28px rgba(0,0,0,0.30), 
	0 10px 10px rgba(0,0,0,0.27);
	transform: translateY(3px);
}

h2 {
	font-family: "Bangers", sans-serif;
	/* display: inline-block; */
	margin: 10% 0 0 0;
}

/* Main Content */

p {
	letter-spacing: 1px;
}

.box {
	/* display: inline-block; */
	width: 47%;
	margin:  1%;
	
}

.topContent {
	/* margin: 0 10% 0 10%; */
	border-top: 1px solid black;
	width: 100%;
	/* padding: 0 0 25px; */
	display: flex;
	justify-content: center;
}

.topContent div {
	width: 35%;
}

.imgContainer {
	width: 100%;
	display:flex;
	justify-content: center;
}

.middle-img {
	/* display: flex;
	justify-content: flex-end; */
	/* margin: 0 10.8%; */
	width: 73%;
}

.bottomContent {
	display: flex;
	justify-content: center;
	justify-content: 
	/* margin: 0 10%; */
	width: 100%;
	border-bottom: 1px solid black;
	/* padding: 0 0 30px; */
}

.bottomContent div {
	width: 23%;
}

.contact {
	margin: 3% 13%; 
}

h3 {
	font-family: "Bangers", sans-serif;
}

/* Footer Styles */
footer {
	display: flex;
	justify-content: center;
	/* text-align: center;
	margin: 5% 0 10%; */
}
